<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Inventory</title>
  <link rel="stylesheet" href="inventory.component.css">
</head>
<body>

  <nav class="sidebar"[class.close]="isCollapsed">
    <header>
      <div class="text logo">
        <span class="name">Manage Wood</span>
        <span class="profe"></span>
      </div>
      <i class="fas fa-bars toggle-btn"></i>
    </header>

    <div class="menu_bar">
      <div class="menu">
        
        <ul class="menu_links">
          <li class="nav_link">
            <a href="javascript:void(0)" (click)="toggleCollapse('inicio')" [class.active]="activeButton === 'inicio'">
              <i class="fas fa-home icon" title="Inicio"></i>
              <span class="text nav-text">Inicio</span>
            </a>
          </li>
          <li class="nav_link">
            <a href="javascript:void(0)" (click)="toggleCollapse('inventario')" [class.active]="activeButton === 'inventario'">
              <i class="fas fa-cubes icon" title="inventario"></i>
              <span class="text nav-text">Inventario</span>
            </a>
          </li>
          <li class="nav_link">
            <a href="javascript:void(0)" (click)="toggleCollapse('colaboradores')" [class.active]="activeButton === 'colaboradores'">
              <i class="fas fa-users icon" title="Colaboradores"></i>
              <span class="text nav-text">Colaboradores</span>
            </a>
          </li>
        </ul>
      </div>

      <div class="bottom_content">
        <li class="">
          <a href="javascript:void(0)" (click)="logout()">
            <i class="fas fa-sign-out-alt icon"></i>
            <span class="text nav_text">Salir</span>
          </a>
        </li>
      </div>

      
    </div>
  </nav>

  <section class="content">
    <div class="text" *ngIf="currentContent === 'inicio'">
      Contenido de Inicio
    </div>
  
    <div id="inventarioContent" *ngIf="currentContent === 'inventario'">
      Contenido de Inventario
    </div>
  
    <div id="colaboradoresContent" *ngIf="currentContent === 'colaboradores'">
      Lista de Colaboradores
    </div>
  </section>

  <script src="inventory.component.ts"></script>

</body>
</html>