body {
  margin: 0;
  padding: 0;
}

.sidebar {
  width: 250px;
  height: 100%;
  background: #3498db; /* Color azul */
  position: fixed;
  transition: 0.5s;
}

.sidebar header {
  padding: 15px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  background-color: #3498db; /* Fondo del encabezado */
}

.text.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.text.logo .name {
  font-size: 1.5rem; /* Tamaño de fuente para el nombre */
  font-family: 'Arial', sans-serif; /* Tipo de fuente */
  margin-bottom: 5px; /* Espaciado inferior */
}

.text.logo .profe {
  /* Estilos adicionales para el elemento .profe si es necesario */
}

.toggle-btn {
  font-size: 1.5rem; /* Tamaño de fuente del icono */
  color: white; /* Color del icono */
  cursor: pointer;
}

.menu_bar {
  padding: 20px;
}

.menu_links {
  list-style: none;
  padding: 0;
}

.nav_link a {
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
  padding: 10px 0;
}

.nav_link a:hover {
  background: #2980b9; /* Color azul más oscuro al pasar el mouse */
}

.icon {
  margin-right: 10px;
}

.bottom_content {
  position: absolute;
  bottom: 20px;
  width: 100%;
}

.content {
  margin-left: 250px;
  padding: 15px;
  transition: margin-left 0.5s;
}

.text {
  color: #2c3e50; /* Color de texto oscuro */
}

/* Agrega estilos de resaltado al botón activo */
.menu_links .nav_link a.active {
  background-color: #2980b9; /* Puedes ajustar el color según tus preferencias */
  color: white;
}

@media screen and (max-width: 600px) {
  .sidebar {
    width: 0;
  }
  .content {
    margin-left: 0;
  }
  .sidebar.close {
    display: none;
  }
}
