<p>login works!</p>

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" href="/src/app/login/login.component.css">
</head>
<body>
  <section class="form-login">
    <h5>Log In</h5>
    <input class="controls" type="text" name="usuario" value="" placeholder="Usuario">
    <input class="controls" type="text" name="Contraseña" value="" placeholder="Contraseña">
    <input class="buttons" type="submit" name="" value="Ingresar">
    <p><a href="#">¿Olvidaste tu contraseña?</a></p>
    <p><a href="/src/app/register/register.component.html">Registrar</a></p>
  </section>
</body>
</html>
